<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SPD_DGI">
<!--  <listeners>-->
<!--    <listener class-name="listeners.Listeners" />-->
<!--  </listeners>-->
  <test thread-count="3" name="FAKE TEST">
    <classes>
      <class name="training.TestFake"/>
      <class name="training.TestFake3"/>
    </classes>
  </test>
<!--  <test thread-count="3" name="EXPORT_QUEUES TEST">-->
<!--    <classes>-->
<!--      <class name="tests.spdDgi.ActMissAct"/>-->
<!--      <class name="tests.spdDgi.ActMissContract"/>-->
<!--      <class name="tests.spdDgi.ActNoPrevViol"/>-->
<!--      <class name="tests.spdDgi.ActNoViol"/>-->
<!--      <class name="tests.spdDgi.ActPrevViol"/>-->
<!--      <class name="tests.spdDgi.ActWrongRightFirst"/>-->
<!--      <class name="tests.spdDgi.ActWrongRightLast"/>-->
<!--      <class name="tests.spdDgi.Ubs234PPIncluded"/>-->
<!--      <class name="tests.spdDgi.Ubs234PPSignsConfirmed"/>-->
<!--      <class name="tests.spdDgi.Ubs234PPTakenIntoAccount"/>-->
<!--      <class name="tests.spdDgi.Ubs819Pril2Included"/>-->
<!--      <class name="tests.spdDgi.Ubs819Pril2SignsConfirmed"/>-->
<!--      <class name="tests.spdDgi.Ubs819Pril2TakenIntoAccount"/>-->
<!--    </classes>-->
<!--  </test> &lt;!&ndash; EXPORT_QUEUES TEST &ndash;&gt;-->
</suite> <!-- SPD_DGI -->
