<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SPD_DGI">
<!--  <listeners>-->
<!--    <listener class-name="utils.Listeners" />-->
<!--  </listeners>-->
<!--  <test thread-count="3" name="FAKE TEST">-->
<!--    <classes>-->
<!--      <class name="gin.training.TestFake"/>-->
<!--    </classes>-->
<!--  </test>-->
  <test thread-count="3" name="EXPORT_QUEUES TEST">
    <classes>
<!--      <class name="gin.spdDgi.ActMissAct"/>-->
      <class name="gin.spdDgi.ActMissContract"/>
      <class name="gin.spdDgi.ActNoPrevViol"/>
      <class name="gin.spdDgi.ActNoViol"/>
      <class name="gin.spdDgi.ActPrevViol"/>
      <class name="gin.spdDgi.ActWrongRightFirst"/>
      <class name="gin.spdDgi.ActWrongRightLast"/>
      <class name="gin.spdDgi.Ubs234PPIncluded"/>
      <class name="gin.spdDgi.Ubs234PPSignsConfirmed"/>
      <class name="gin.spdDgi.Ubs234PPTakenIntoAccount"/>
      <class name="gin.spdDgi.Ubs819Pril2Included"/>
      <class name="gin.spdDgi.Ubs819Pril2SignsConfirmed"/>
      <class name="gin.spdDgi.Ubs819Pril2TakenIntoAccount"/>
    </classes>
  </test> <!-- EXPORT_QUEUES TEST -->
</suite> <!-- SPD_DGI -->
